{% extends "dashboard/dashboard_view.html" %} {% block dashboard_content %}
<div>
  <form action="/query/assign_team" method="POST">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-xl font-bold leading-6 text-sky-600">
            Datos de Participación
          </h3>
          <p class="mt-1 text-sm text-gray-600">
            Asignar un equipo existente a un evento
          </p>
        </div>
      </div>

      <div class="mt-5 md:col-span-2 md:mt-0">
        <div class="shadow sm:overflow-hidden sm:rounded-md">
          <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
            <div class="col-span-3 sm:col-span-2">
              <label
                for="proyecto_participar"
                class="block text-sm font-medium text-gray-700"
                >Nombre del Proyecto</label
              >
              <div class="mt-1 flex rounded-md shadow-sm">
                <input
                  type="text"
                  required
                  name="proyecto_participar"
                  id="proyecto_participar"
                  class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                  placeholder="Proyecto"
                />
              </div>
            </div>

            <div class="col-span-3 sm:col-span-2">
              <label
                for="evento_participar"
                class="block text-sm font-medium text-gray-700"
                >Evento</label
              >
              <select
                required
                name="evento_participar"
                id="evento_participar"
                class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
              >
                <option selected hidden value="">Evento</option>
                {% for evento in data["events"] %}
                <option value="{{ evento['cod_evento'] }}">
                  {{ evento["nombre_evento"] }}
                </option>
                {% else %}
                <option disabled>No hay ningun evento en curso.</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-span-3 sm:col-span-2">
              <label
                for="equipo_participar"
                class="block text-sm font-medium text-gray-700"
                >Equipo</label
              >
              <select
                required
                name="equipo_participar"
                id="equipo_participar"
                class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
              >
                <option selected hidden value="">Equipo</option>
                {% for equipo in data["teams"] %}
                <option value="{{ equipo['cod_equipo'] }}">
                  {{ equipo["nombre_equipo"] }}
                </option>
                {% else %}
                <option disabled>No hay ningun equipo disponible.</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="px-4 py-3 text-right sm:px-6">
      <button
        type="submit"
        class="inline-flex justify-center rounded-md border border-transparent bg-sky-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"
      >
        Enviar
      </button>
    </div>
  </form>
</div>

{% endblock %}
