{% include "base.html" %}

<h1 class="text-5xl font-bold text-sky-700 text-center">Dashboard</h1>

<br />
<br />

<div class="p-8">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
    <div
      class="p-4 drop-shadow-md text-sky-500 bg-sky-100 rounded-md flex items-center justify-center hover:text-sky-100 hover:bg-sky-600"
    >
      <a href="/dashboard/coordinador" class="text-xl font-bold leading-6"
        >COORDINADOR</a
      >
    </div>

    <div
      class="p-4 drop-shadow-md  text-sky-500 bg-sky-100 rounded-md flex items-center justify-center hover:text-sky-100 hover:bg-sky-600"
    >
      <a href="/dashboard/jurado" class="text-xl font-bold leading-6">JURADO</a>
    </div>

    <div
      class="p-4 drop-shadow-md  text-sky-500 bg-sky-100 rounded-md flex items-center justify-center hover:text-sky-100 hover:bg-sky-600"
    >
      <a href="/dashboard/publico" class="text-xl font-bold leading-6"
        >PUBLICO</a
      >
    </div>
  </div>
</div>

</body>

</html>