{% include "base.html" %}

<div>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-2">
      <div class="p-4 rounded-md bg-gray-100 flex items-top justify-center">
        <ul>
          <li>
            <a href="/dashboard/publico/ver_resultados">Resultados</a>
          </li>

          {% if current_page == "Dashboard_Coordinador" %}
            {% include "dashboard/menu_coordinador.html" %}
          {% elif current_page == "Dashboard_Jurado" %}
          {% include "dashboard/menu_jurado.html" %}
          {% endif %}
                
      </div>
  
      <div class="p-4 rounded-md bg-gray-100 col-span-3 gap-2" id="pantalla">
        {% block dashboard_content %}
          {% if current_page == "Dashboard_Coordinador" %}
          <h1 class="text-5xl font-bold text-blue-600 text-center">Vista coordinador</h1>
          {% elif current_page == "Dashboard_Jurado" %}
          <h1 class="text-5xl font-bold text-blue-600 text-center">Vista jurado</h1>
          {% elif current_page == "Dashboard_Equipo" %}
          <h1 class="text-5xl font-bold text-blue-600 text-center">Vista equipo</h1>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>