{% include "base.html" %}

<div>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-2">
      <div class="p-4 rounded-md bg-gray-100 flex items-top justify-center">
        <ul>
          {% if current_page == "Dashboard_Coordinador" %}
           <li><a href="">Registro de eventos</a></li> 
           <li><a href="">Registro de jurados</a></li> 
           <li><a href="/dashboard/coordinador/:registro_equipo">Registro de equipos</a></li> 
          {% endif %}
        </ul>
      </div>
  
      <div class="p-4 rounded-md bg-gray-100 col-span-3 gap-2" id="pantalla">
        {% block dashboard_content %}
          {% if current_page == "Dashboard_Coordinador" %}
          <h1 class="text-5xl font-bold text-blue-600 text-center">Vista coordinador</h1>
          {% elif current_page == "Dashboard_Jurado" %}
          <h1 class="text-5xl font-bold text-blue-600 text-center">Vista jurado</h1>
          {% elif current_page == "Dashboard_Equipo" %}
          <h1 class="text-5xl font-bold text-blue-600 text-center">Vista equipo</h1>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>

</html>