{% include "base.html" %}

<h1 class="text-5xl font-bold text-blue-600 text-center">Dashboard</h1>

<br />
<br />

<div class="p-8">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div class="p-4 bg-blue-200 rounded-md flex items-center justify-center">
      <a href="/dashboard/coordinador">COORDINADOR</a>
    </div>

    <div class="p-4 bg-blue-200 rounded-md flex items-center justify-center">
      <a href="/dashboard/jurado">JURADO</a>
    </div>

    <div class="p-4 bg-blue-200 rounded-md flex items-center justify-center">
      <a href="/dashboard/equipo">EQUIPO</a>
    </div>
  </div>
</div>

</body>

</html>
