<li>
  <a
    href="/dashboard/coordinador/registro_evento"
    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-sky-100"
  >
    <span class="flex-1 ml-3 whitespace-nowrap">Registro de Eventos</span>
  </a>
</li>
<li>
  <a
    href="/dashboard/coordinador/registro_jurado"
    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-sky-100"
  >
    <span class="flex-1 ml-3 whitespace-nowrap">Registro de Jurados</span>
  </a>
</li>
<li>
  <a
    href="/dashboard/coordinador/registro_equipo"
    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-sky-100"
  >
    <span class="flex-1 ml-3 whitespace-nowrap">Registro de Equipos</span>
  </a>
</li>
<li>
  <a
    href="/dashboard/coordinador/asignar_jurado"
    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-sky-100"
  >
    <span class="flex-1 ml-3 whitespace-nowrap">Asignación de Jurados</span>
  </a>
</li>
<li><hr /></li>
<li>
  <a
    href="/dashboard/coordinador/modificar_evento"
    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-sky-100"
  >
    <span class="flex-1 ml-3 whitespace-nowrap">Modificación de Eventos</span>
  </a>
</li>
<li>
  <a
    href="/dashboard/coordinador/modificar_evento"
    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-sky-100"
  >
    <span class="flex-1 ml-3 whitespace-nowrap">Modificación de Jurados</span>
  </a>
</li>
<li>
  <a
    href="/dashboard/coordinador/modificar_evento"
    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-sky-100"
  >
    <span class="flex-1 ml-3 whitespace-nowrap">Modificación de Equipos</span>
  </a>
</li>
<hr/>
<li>
  <a
    href="/dashboard/coordinador/cambio_equipo"
    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-sky-100"
  >
    <span class="flex-1 ml-3 whitespace-nowrap">Cambio en equipo</span>
  </a>
</li>
