{% extends "dashboard/dashboard_view.html" %} {% block dashboard_content %}
<div>
  <form action="/query/set_team" method="POST">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-xl font-bold leading-6 text-sky-600">
            Datos Generales
          </h3>
          <p class="mt-1 text-sm text-gray-600">
            Datos generales sobre el equipo participante
          </p>
        </div>
      </div>

      <div class="mt-5 md:col-span-2 md:mt-0">
        <div class="shadow sm:overflow-hidden sm:rounded-md">
          <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="nombre_equipo"
                  class="block text-sm font-medium text-gray-700"
                  >Nombre del Equipo</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="nombre_equipo"
                    id="nombre_equipo"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Equipo"
                  />
                </div>
              </div>
            </div>

            <div class="col-span-3 sm:col-span-2">
              <label
                for="institucion_equipo"
                class="block text-sm font-medium text-gray-700"
                >Institución</label
              >
              <div class="mt-1 flex rounded-md shadow-sm">
                <input
                  type="text"
                  required
                  name="institucion_equipo"
                  id="institucion_equipo"
                  class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                  placeholder="Institución"
                />
              </div>
            </div>

            <div class="col-span-3 sm:col-span-2">
              <label
                for="evento_equipo"
                class="block text-sm font-medium text-gray-700"
                >Evento</label
              >
              <select
                required
                name="evento_equipo"
                id="evento_equipo"
                class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
              >
                <option selected hidden>Evento</option>
                {% for evento in events["current"] %}
                <option value="{{ evento['cod_evento'] }}">
                  {{ evento["nombre_evento"] }}
                </option>
                {% else %}
                <option disabled>No hay ningun evento en curso.</option>
                {% endfor %}
              </select>
            </div>
            <div>
              <fieldset>
                <legend
                  class="contents block text-sm font-medium text-gray-700"
                >
                  Categoria
                </legend>
                <p class="text-sm text-gray-500">
                  La categoria viene dada por el nivel academico de la
                  institución
                </p>
                <div class="mt-4 space-y-4">
                  <div class="flex items-center">
                    <input
                      id="cat1"
                      value="primaria"
                      name="categoria_equipo"
                      type="radio"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-sky-500"
                    />
                    <label
                      for="cat1"
                      class="ml-3 block text-sm font-medium text-gray-700"
                      >Categoria 1 - Primaria</label
                    >
                  </div>
                  <div class="flex items-center">
                    <input
                      id="cat2"
                      value="secundaria"
                      name="categoria_equipo"
                      type="radio"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-sky-500"
                    />
                    <label
                      for="cat2"
                      class="ml-3 block text-sm font-medium text-gray-700"
                      >Categoria 2 - Secundaria</label
                    >
                  </div>
                  <div class="flex items-center">
                    <input
                      id="cat3"
                      value="bachillerato"
                      name="categoria_equipo"
                      type="radio"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-sky-500"
                    />
                    <label
                      for="cat3"
                      class="ml-3 block text-sm font-medium text-gray-700"
                      >Categoria 3 - Media Superior</label
                    >
                  </div>
                  <div class="flex items-center">
                    <input
                      id="cat4"
                      value="profesional"
                      name="categoria_equipo"
                      type="radio"
                      class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-sky-500"
                    />
                    <label
                      for="cat4"
                      class="ml-3 block text-sm font-medium text-gray-700"
                      >Categoria 4 - Superior</label
                    >
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-xl font-bold leading-6 text-sky-600">
            Datos Integrante 1
          </h3>
          <p class="mt-1 text-sm text-gray-600">
            Datos personales del integrante 1 del equipo
          </p>
        </div>
      </div>

      <div class="mt-5 md:col-span-2 md:mt-0">
        <div class="shadow sm:overflow-hidden sm:rounded-md">
          <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="curp_integrante1"
                  class="block text-sm font-medium text-gray-700"
                  >CURP</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="curp_integrante1"
                    id="curp_integrante1"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder=""
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="nombre_integrante1"
                  class="block text-sm font-medium text-gray-700"
                  >Nombre(s)</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="nombre_integrante1"
                    id="nombre_integrante1"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Nombre(s)"
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="apellido1_integrante1"
                  class="block text-sm font-medium text-gray-700"
                  >Primer Apellido</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="apellido1_integrante1"
                    id="apellido1_integrante1"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Primer Apellido"
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="apellido2_integrante1"
                  class="block text-sm font-medium text-gray-700"
                  >Segundo Apellido</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="apellido2_integrante1"
                    id="apellido2_integrante1"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Segundo Apellido"
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="edad_integrante1"
                  class="block text-sm font-medium text-gray-700"
                  >Fecha de Nacimiento</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="date"
                    required
                    name="edad_integrante1"
                    id="edad_integrante1"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-xl font-bold leading-6 text-sky-600">
            Datos Integrante 2
          </h3>
          <p class="mt-1 text-sm text-gray-600">
            Datos personales del integrante 2 del equipo
          </p>
        </div>
      </div>

      <div class="mt-5 md:col-span-2 md:mt-0">
        <div class="shadow sm:overflow-hidden sm:rounded-md">
          <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="curp_integrante2"
                  class="block text-sm font-medium text-gray-700"
                  >CURP</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="curp_integrante2"
                    id="curp_integrante2"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder=""
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="nombre_integrante2"
                  class="block text-sm font-medium text-gray-700"
                  >Nombre(s)</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="nombre_integrante2"
                    id="nombre_integrante2"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Nombre(s)"
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="apellido1_integrante2"
                  class="block text-sm font-medium text-gray-700"
                  >Primer Apellido</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="apellido1_integrante2"
                    id="apellido1_integrante2"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Primer Apellido"
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="apellido2_integrante2"
                  class="block text-sm font-medium text-gray-700"
                  >Segundo Apellido</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="apellido2_integrante2"
                    id="apellido2_integrante2"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Segundo Apellido"
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="edad_integrante2"
                  class="block text-sm font-medium text-gray-700"
                  >Fecha de Nacimiento</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="date"
                    required
                    name="edad_integrante2"
                    id="edad_integrante2"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-xl font-bold leading-6 text-sky-600">
            Datos Integrante 3
          </h3>
          <p class="mt-1 text-sm text-gray-600">
            Datos personales del integrante 3 del equipo
          </p>
        </div>
      </div>

      <div class="mt-5 md:col-span-2 md:mt-0">
        <div class="shadow sm:overflow-hidden sm:rounded-md">
          <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="curp_integrante3"
                  class="block text-sm font-medium text-gray-700"
                  >CURP</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="curp_integrante3"
                    id="curp_integrante3"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder=""
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="nombre_integrante3"
                  class="block text-sm font-medium text-gray-700"
                  >Nombre(s)</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="nombre_integrante3"
                    id="nombre_integrante3"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Nombre(s)"
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="apellido1_integrante3"
                  class="block text-sm font-medium text-gray-700"
                  >Primer Apellido</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="apellido1_integrante3"
                    id="apellido1_integrante3"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Primer Apellido"
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="apellido2_integrante3"
                  class="block text-sm font-medium text-gray-700"
                  >Segundo Apellido</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="text"
                    required
                    name="apellido2_integrante3"
                    id="apellido2_integrante3"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                    placeholder="Segundo Apellido"
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <label
                  for="edad_integrante3"
                  class="block text-sm font-medium text-gray-700"
                  >Fecha de Nacimiento</label
                >
                <div class="mt-1 flex rounded-md shadow-sm">
                  <input
                    type="date"
                    required
                    name="edad_integrante3"
                    id="edad_integrante3"
                    class="mt-1 block w-full rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-sky-500 focus:outline-none focus:ring-sky-500 sm:text-sm"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
      <button
        type="submit"
        class="inline-flex justify-center rounded-md border border-transparent bg-sky-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"
      >
        Enviar
      </button>
    </div>
  </form>
</div>

{% endblock %}
