{% extends "dashboard/dashboard_view.html" %} {% block dashboard_content %}

<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
  <div class="pb-4 rounded-md bg-gray-100 flex items-top justify-center">
    <select
      id="categoria-evento"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2"
    >
      <option selected>Evento a ver</option>
      <option value="idevento">nombre evento</option>
    </select>
  </div>
  <div class="pb-4 rounded-md bg-gray-100 flex items-top justify-center">
    <select
      id="categoria-evento"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sky-500 focus:border-sky-500 block w-full p-2"
    >
      <option selected>Categoria de participantes</option>
      <option value="cat1">Categoria 1</option>
      <option value="cat2">Categoria 2</option>
      <option value="cat3">Categoria 3</option>
      <option value="cat4">Categoria 4</option>
    </select>
  </div>

  <div class="pb-4 rounded-md bg-gray-100 flex items-top justify-center">
    <button
      class="inline-flex justify-center rounded-md border border-transparent bg-sky-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2"
    >
      Buscar
    </button>
  </div>
</div>

<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="py-3 px-6">Lugar</th>
        <th scope="col" class="py-3 px-6">Equipo</th>
        <th scope="col" class="py-3 px-6">Puntaje</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="py-4 px-6 font-medium text-gray-900">1</th>
        <td class="py-4 px-6 whitespace-nowrap">Equipo 1</td>
        <td class="py-4 px-6 whitespace-nowrap">30/30</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
