{% include "base.html" %}

<h1 class="text-5xl font-bold text-blue-600 text-center">Conocenos</h1>

<div class="text-center text-2xl px-20">
<p class="py-4">
Esta pagina web fue creada como un proyecto para la materia de Taller de Base de Datos, impartida por la profesora Elizabeth Cortez Razo, en el <a target="_blank" class="text-blue-600 hover:text-blue-900" href="https://www.cdmadero.tecnm.mx/">Instituto Tecnologico de Ciudad Madero</a>
</p>
<p class="py-4">
  Fue creada por los estudiantes:

  <ul>
    <li>Alva Segundo Samuel</li>
    <li>Espitia Ramirez Giancarlo</li>
    <li>Garcia Mendoza Rafael</li>
  </ul>
</p>
<p class="py-4">
  Fue creada utilizando como servidor <a target="_blank" class="text-blue-600 hover:text-blue-900" href="https://nodejs.org/en/">Node.js</a> junto a <a target="_blank" class="text-blue-600 hover:text-blue-900" href="https://www.mysql.com/">MySQL</a> como motor de base de datos, el servidor utiliza como framework web  <a target="_blank" class="text-blue-600 hover:text-blue-900" href="https://expressjs.com/">Express.js</a>, las paginas dinamicas son renderizadas utilizando un sistema de plantillas, en este caso <a target="_blank" class="text-blue-600 hover:text-blue-900" href="https://mozilla.github.io/nunjucks/">Nunjucks</a>.
</p>

<p class="py-4">
  Los estilos usados son parte del proyecto <a target="_blank" class="text-blue-600 hover:text-blue-900" href="https://tailwindcss.com/">Tailwindcss.</a>
</p>


<p class="py-4">
  Pueden contactarnos mediante un correo a: <a class="text-blue-600 hover:text-blue-900" href="mailto:nadie@gmail.com">mailto:nadie@gmail.com</a>
</p>

</div>


</body>

</html>
