<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/output.css" type="text/css">
    <link rel="icon" href="/images/proyecto-vex.png">
    <title>{{current_page}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    {% include "header.html" %}
    {% if message %}

    <div class="
		text-stone-100
		text-center
		mx-10
		mb-5
		drop-shadow-lg
		rounded-md
		{% if messagetype == 'success' %}
		bg-green-500
		{% endif %}
		{% if messagetype == 'error' %}
		bg-red-500
		{% endif %}
		{% if messagetype == 'info' %}
		bg-blue-500
		{% endif %}
		"
	 <p>{{ message }}</p>
    </div>

    {% endif %}

