<nav class="
	    relative
	    w-full
	    flex flex-wrap
	    items-center
	    justify-between
	    py-1
	    mb-4
	    bg-gray-100
	    text-gray-500
	    hover:text-gray-700
	    focus:text-gray-700
	    shadow-lg
	    navbar navbar-expand-lg navbar-light
	    ">
  <div class="w-36 relative">
    <a href="/">
    <img src="/images/proyecto-vex.png" alt="">
    </a>
  </div>
  <div class="flex items-center relative">
    <ul class="navbar-nav flex flex-row pl-0 list-style-none mr-auto text-xl">
      <li class="nav-item p-2">
	<a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-600 p-0" href="/">Inicio</a>
      </li>
      <li class="nav-item p-2">
	<a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-600 p-0" href="/events">Eventos</a>
      </li>
      <li class="nav-item p-2">
	<a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-600 p-0" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item p-2">
	<a class="nav-link text-gray-500 hover:text-gray-700 focus:text-gray-600 p-0" href="/about">Conocenos</a>
      </li>
    </ul>
    </div>
  </nav>
